#include "keys_ru.h"

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <175>;
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <175>;
};

&mmv {
    acceleration-exponent = <0>;
    time-to-max-speed-ms = <150>;
};

&msc {
    acceleration-exponent = <0>;
    time-to-max-speed-ms = <150>;
};

/ {
    behaviors {
        hrm_l: hrm_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 19 20 21 6 7 8 9 10 11 18 19 20 21 22 23 31 32 33 34 35 36 37 41 42 43 38 39 40>;
        };

        hrm_r: hrm_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 30 38 39 40 3 41 42 43>;
        };
    };

    macros {
        mc_triple_tick: mc_triple_tick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp GRAVE &kp GRAVE>;
            label = "MC_TRIPLE_TICK";
        };

        mc_le: mc_lt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp EQUAL>;
            label = "MC_LT";
        };

        mc_ge: mc_gt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GT &kp EQUAL>;
            label = "MC_GT";
        };

        mc_d_arrow: mc_d_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "MC_D_ARROW";
        };

        mc_s_arrow: mc_s_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "MC_S_ARROW";
        };

        mc_dot_slash: mc_dot_slash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp FSLH>;
            label = "MC_DOT_SLASH";
        };
    };

    combos {
        compatible = "zmk,combos";

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <25 26>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <28 27>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <33 34>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <35 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC  &kp Q          &kp W          &kp E           &kp R           &kp T                                 &kp Y        &kp U           &kp I           &kp O          &kp P                  &mo 8
&none    &hrm_l LGUI A  &hrm_l LALT S  &hrm_l LSHFT D  &hrm_l LCTRL F  &kp G                                 &kp H        &hrm_r RCTRL J  &hrm_r RSHFT K  &hrm_r RALT L  &hrm_r RIGHT_GUI SEMI  &tog 9
&none    &kp Z          &kp X          &kp C           &kp V           &kp B        &kp LBKT       &kp RBKT  &kp N        &kp M           &kp COMMA       &kp DOT        &kp SQT                &none
                                                       &mo 6           &lt 1 SPACE  &lt 4 MINUS    &kp TAB   &lt 2 ENTER  &mo 3
            >;

            display-name = "Base";
            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        navigation {
            bindings = <
&trans  &none     &none     &none      &none      &none                     &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &none  &trans
&trans  &kp LGUI  &kp LALT  &kp LSHFT  &kp LCTRL  &none                     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &trans
&trans  &none     &none     &none      &none      &none   &none     &none   &mkp MB4        &none           &none         &mkp MB5         &none  &trans
                                       &trans     &trans  &trans    &trans  &trans          &trans
            >;

            label = "Navigation";
        };

        symbols {
            bindings = <
&trans  &none       &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp LESS_THAN                    &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &none      &trans
&trans  &kp DOLLAR  &kp AMPS          &kp EXCL        &kp SLASH             &kp AT_SIGN                      &kp POUND         &kp ASTERISK           &kp QUESTION     &kp PIPE           &kp EQUAL  &trans
&trans  &kp GRAVE   &kp TILDE         &kp PERCENT     &kp MINUS             &none          &trans    &trans  &none             &kp PLUS               &kp CARET        &kp BACKSLASH      &none      &trans
                                                      &trans                &trans         &trans    &trans  &trans            &trans
            >;

            display-name = "Symbols";
        };

        alt {
            bindings = <
&trans  &kp RU_CYRILLIC_IO  &trans  &trans       &trans         &mc_le                    &mc_ge  &trans                     &trans  &trans  &trans       &trans
&trans  &trans              &trans  &trans       &mc_dot_slash  &trans                    &trans  &trans                     &trans  &trans  &mc_d_arrow  &trans
&trans  &mc_triple_tick     &trans  &mc_s_arrow  &trans         &trans  &trans    &trans  &trans  &kp RU_CYRILLIC_HARD_SIGN  &trans  &trans  &trans       &trans
                                                 &trans         &trans  &trans    &trans  &trans  &trans
            >;
        };

        numbers {
            bindings = <
&trans  &none     &none     &none      &none      &none                    &kp X   &kp N7  &kp N8  &kp N9  &kp UNDER  &trans
&trans  &kp LGUI  &kp LALT  &kp LSHFT  &kp LCTRL  &none                    &kp F   &kp N4  &kp N5  &kp N6  &kp N0     &trans
&trans  &none     &none     &none      &none      &none   &none     &none  &kp B   &kp N1  &kp N2  &kp N3  &kp DOT    &trans
                                       &trans     &trans  &trans    &mo 5  &trans  &trans
            >;
        };

        numbers-f {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        mouse {
            bindings = <
&trans  &none     &none     &mo 7      &none      &none                        &none           &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &none            &trans
&trans  &kp LGUI  &kp LALT  &kp LSHFT  &kp LCTRL  &none                        &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT  &trans
&trans  &none     &none     &none      &none      &none   &trans    &trans     &none           &mkp MB4        &none           &mkp MB5         &none            &trans
                                       &trans     &trans  &trans    &mkp LCLK  &mkp MCLK       &mkp RCLK
            >;

            display-name = "Mouse";
        };

        mouse_slow {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans            &msc MOVE_Y(-10)   &mmv MOVE_Y(-400)  &msc MOVE_Y(10)   &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &msc MOVE_X(-10)  &mmv MOVE_X(-400)  &mmv MOVE_Y(400)   &mmv MOVE_X(400)  &msc MOVE_X(10)  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans            &trans             &trans             &trans            &trans           &trans
                                &trans  &trans  &trans    &trans  &trans            &trans
            >;
        };

        cfg {
            bindings = <
&bootloader  &none  &none  &none  &none  &none                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
&none        &none  &none  &none  &none  &none                           &none         &none         &none         &out OUT_USB  &out OUT_BLE  &none
&none        &none  &none  &none  &none  &none  &none    &bt BT_CLR_ALL  &none         &none         &none         &none         &none         &none
                                  &none  &none  &none    &none           &none         &none
            >;

            label = "Config";
        };

        game {
            bindings = <
&kp ESC       &kp TAB    &kp Q  &kp W  &kp E   &kp R                              &none      &none           &kp UP_ARROW    &none            &kp TAB    &none
&kp LEFT_ALT  &kp LSHFT  &kp A  &kp S  &kp D   &kp F                              &none      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RSHFT  &tog 9
&none         &kp LCTRL  &kp Z  &kp X  &kp C   &kp V      &none        &none      &none      &none           &none           &none            &kp RCTRL  &none
                                       &mo 10  &kp SPACE  &kp ENTER    &kp ENTER  &kp SPACE  &none
            >;
        };

        game_func {
            bindings = <
&trans  &kp N5  &kp N1  &kp N2  &kp N3  &kp N4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp N0  &kp N6  &kp N7  &kp N8  &kp N9                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp G   &kp J   &kp I   &kp M   &kp T   &kp B     &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
